.clients {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    &__wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        align-self: center;
        width: 20%;
        padding: 20px;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            opacity: 1;
            transition: all 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}


@media (max-width:767px){
    .clients {
        padding-top: 30px;
        padding-bottom: 25px;
        &__item {
            width: 45%;
        }
    }
}